@base()
@slot("content")
<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12">
      <h5 class="mb-4">Ini adalah halaman kedua</h5>
      <p>Dengan template, kamu bisa memiliki base yang sama dan hanya fokus mengisi kontennya saja.</p>
    </div>
  </div>
</div>
@end
@end
